main, aside {
    display: flex;
    justify-content: space-around;
}
aside {
    max-width: 50%;
}
article, li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
}
ol {
    padding-left: 1em;
}
ol div {
  margin-left: -1.5em;
  padding-left: 1.5em;

}
aside section {
    padding: 0.5rem;
}
td {
	width: 35px;
	height: 35px;
	background: black;
	border: 0.5px solid black;
	position: relative;
}
input {
    background: transparent;
    width: 100%;
    height: 100%;
    display: inline-block;
    outline: none;
    border: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: large;
	box-sizing: border-box;
}
h2 {
  margin-top: 0;
}
.sep-across {
  border-right: medium solid black;
}
.sep-down {
  border-bottom: medium solid black;
}
.white {
	background: white;
}
.highlighted {
	background: yellow;
}
.friends-highlighted {
	background: blanchedalmond;
}
.focused {
    background: lightblue;
}
table {
  border: 0.5px solid black;
}
.clue-number {
	position: absolute;
	left: 1;
	top: 1;
	font-size: x-small;
}
.info {
  display: flex;
}
#connected {
    margin-left: 5px;
}
