<!DOCTYPE html>
<link rel="stylesheet" href="{{ staticpath "style.css" }}">
<header>
    <h2>{{ .Crossword.Name }}</h2>
    <div class="info">
      <p>Users connected</p>
      <p id="connected"><p>
    <div>
  <input type="hidden" id="crossword-id" value="{{ .Crossword.Id }}">
</header>
<main>
  <article>
    <table cellspacing="0">
      {{ range $i, $row := .Grid }}
        <tr>
          {{ range $j, $cell := $row }}
            {{ if gt (len $cell.Classes) 0 }}
              <td data-row="{{ $i }}" data-col="{{ $j }}" class="{{ join $cell.Classes }}">
                <span class="clue-number">{{ $cell.Text }}</span>
                <input type="text" maxlength="1">
              </td>
            {{ else }}
              <td data-row="{{ $i }}" data-col="{{ $j }}" class="{{ join $cell.Classes }}">
                <span class="clue-number">{{ $cell.Text }}</span>
              </td>
            {{ end }}
          {{ end }}
        </tr>
      {{ end }}
    </table>
  </article>
  <aside>
    <section><h2>Across</h2>
      <ol>
        {{ range .Crossword.Entries }}
          {{ if eq .Direction "across" }}
            <div class="{{ join .Group }}"><li value={{ .Number }}> {{ .Clue }}</li></div>
          {{ end }}
        {{ end }}
      </ol>
    </section>
    <section><h2>Down</h2>
      <ol>
        {{ range .Crossword.Entries }}
          {{ if eq .Direction "down" }}
            <div class="{{ join .Group }}"><li value={{ .Number }}> {{ .Clue }}</li></div>
          {{ end }}
        {{ end }}
      </ol>
    </section>
  </aside>
</main>
<script src="{{ staticpath "crossword.js" }}"></script>
